@charset "UTF-8";

body{
   background-color: black;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1{
   background-color: brown;
}
h2{
   background-color: brown;
}
p{
    text-align: justify;
}